/* counter */
.counter {
    background-color: rgb(0 10 45);
  }
  .couicon {
    height: 50px;
  }
  .couicon{
    color: rgb(77, 175, 255);
  }
  .couter-box p{
    color: rgb(77, 175, 255);
  }
  .counnum{
    color: rgb(77, 175, 255);
  }